.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 60px;
    position: relative; 
}
.imagenes{
    text-align: center;
    display: inline;
    padding-bottom: 50%;
    margin-right: 8px;
    font-family: arial,sans-serif;
    font-size: small;
}
.imagenes1{
    text-decoration:none;
    color: black;
}
.imagenes1:hover{
    text-decoration:underline;
}
.gmail{
    text-align: center;
    display: inline;
    margin-right: 5px;
    font-family: arial,sans-serif;
    font-size: small;
    color: black;
}
.gmail1{
    text-decoration:none;
    color: black;
}
.gmail1:hover{
    text-decoration:underline;
}
.imagen{
   position: absolute;
width: 20px;
height: 20px;
right: 47px;
top: 8px
}
.login{
    position: absolute;
    right:10px;
    top: 5px;
    width: 27px;
    height: 27px;
    border-radius: 30px 30px 30px 30px;


}
.logo {
    align-content: center;
    margin-left: 15px;
    margin-top:-20px;
    

}
.arriba {
    margin-bottom: 160px;
}
.buscador { 
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 15px; 
    border-width: 0.1px;
    border-color: gray;
    box-shadow: none;
    outline: none; 
    block-size: 30px;
}
.botones{
  display: inline;
  list-style-type: none;
  font-family: arial,sans-serif;
  
}
.boton1{
    border-width: 10px;
margin-right: 210px;
margin-top: 15px;
}
.boton11{
    border-radius: 5px;
    border-width: 0.1px;
    background-color: rgb(244,244,244);
    border-style: none;
    padding: 5px;
}
.botton11:hover{
    border-style: solid;
    outline-style: solid;
}
.boton12{
    border-radius: 5px;
    border-width: 0.1px;
    background-color: rgb(244,244,244);
    border-style: none;
    padding: 5px;
}
.boton2{
margin-left: 210px;
margin-top: -25px;
}
.ingles{
    margin-top: 25px;
    font-family: arial,sans-serif;
    font-size: small;
}
.botoningles{
    text-decoration:none;

}
.botoningles:hover {
    text-decoration:underline;
    
}
.footer11{
    margin-top: 338px;
}
.footer1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-right: 60px;
    position: relative;
    margin-bottom: 5px;
}
.advertising{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
    
}
.business{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
}
.about{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
}
.how{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
}
.div2{
    align-content: right;
    font-family: arial,sans-serif;
    font-size: small;
}
.footer2{
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin-top: -36px;
}
.privacy{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
   
}
.terms{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
}
.settings{
    display: inline;
    font-family: arial,sans-serif;
    font-size: small;
    padding: 6px;
}
    